<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>공통 메인 컨텐츠 (테이블형)</title>
</head>
<body>
  <main id="layout-main" class="content-wrapper accent-dark">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 id="main-header-title" class="m-0">메인 페이지</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a id="breadcrumb-home">홈</a></li>
              <li id="breadcrumb-current-page" class="breadcrumb-item active">메인 페이지</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-12 connectedSortable">
            <div class="card">
              <div class="card-header">
                <h3 id="card-title" class="card-title">카드 제목</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="main-table"><!--/* 테이블 삽입 부분 */--></table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </section>
        </div>
        <!-- /.row -->

        <div class="row">
          <section class="col-6 connectedSortable">
            <div class="card" id="layout-card-todolist"></div>
          </section>
          <section class="col-6 connectedSortable">
            <div class="card" id="layout-card-chat"></div>
          </section>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
  </main>
</body>
</html>
