<!DOCTYPE html>
<html lang="ko">
<head id="layout-head">
  <meta charset="UTF-8">
  <title>5XX 에러</title>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <header id="layout-header">헤더 삽입부</header>
    <aside id="layout-left-aside">왼쪽 사이드 바 삽입부</aside>

    <main class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 id="main-header-title" class="m-0">Error Page</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a id="breadcrumb-home">Home</a></li>
                <li id="breadcrumb-current-page" class="breadcrumb-item active지">Error Page</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="error-page">
          <h2 id="error-status" class="headline text-danger">5XX</h2>

          <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops!</h3>

            <p>
              <span id="error-message">Something went wrong.</span>
            </p>
          </div>
          <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
      </section>
      <!-- /.content -->
    </main>
    <!-- /.content-wrapper -->

    <aside id="layout-right-aside">오른쪽 사이드 바 삽입부</aside>
    <footer id="layout-footer">푸터 삽입부</footer>
  </div>
  <!-- ./wrapper -->

  <!--/* REQUIRED SCRIPTS */-->
  <script id="layout-scripts">/* 공통 스크립트 삽입부 */</script>

  <!--/* 페이지 전용 스크립트 */-->
</body>
</html>
