<!DOCTYPE html>
<html lang="ko">
<head id="layout-head">
  <meta charset="UTF-8">
  <title>공통 템플릿</title>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <header id="layout-header">헤더 삽입부</header>
    <aside id="layout-left-aside">왼쪽 사이드 바 삽입부</aside>

    <!-- Main content -->
    <main id="layout-main">메인 컨텐츠 영역</main>
    <!-- /.content -->

    <aside id="layout-right-aside">오른쪽 사이드 바 삽입부</aside>
    <footer id="layout-footer">푸터 삽입부</footer>
  </div>

  <!--/* REQUIRED SCRIPTS */-->
  <script id="layout-scripts">/* 공통 스크립트 삽입부 */</script>

  <!--/* 페이지 전용 스크립트 */-->
</body>
</html>
